### .config ###
# Ignore inside 'config' dir, exclude some configs
/.config/*
!.config/karabiner/
!.config/colorls/
!.config/neofetch/

### zsh ###
# History file
/.zsh/.zsh_history
/.zsh/.zsh_sessions

# zcompdump
/.zsh/.zcompdump*

# iTerm2
/.zsh/.iterm2
/.zsh/.iterm2_shell_integration.zsh

### PtPython ###
/.ptpython/*
!/.ptpython/config.py

#### iPython ####
# History databases
/.ipython/profile_*
!/.ipython/profile_*/startup
/.ipython/profile_*/startup/__pycache__

### Sublime Text ###
# Ignore: Preferences.sublime-settings
Preferences.sublime-settings

### Vim ###
# Ignore NeoBundle Modules, exclude Neobundle itself
/.vim/bundle/*
!/.vim/bundle/neobundle.vim

### Karabiner ###
# Ignore 'automatic_backups' of Karabiner-Element
/.config/karabiner/automatic_backups
