[submodule "shims/vim/bundle/neobundle.vim"]
	path = shims/vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "shims/.zplug"]
	path = shims/.zplug
	url = https://github.com/zplug/zplug
