# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = popunbom
	email = fantom0779@gmail.com
[core]
	editor = vim -c \"set fenc=utf-8\"
[alias]
	graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
	sts = status
	st  = status
	cho = checkout
	brn = branch -a -vv
	brc = branch -a -vv
	psh = push
	pll = pull
	fch = fetch
	cmt = commit
	lg  = log

